// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map_canvas { height: 300px; }
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body:before 
{ 
	// Estas regras servem para criar
	// a sombra superior no browser
	content: ""; 
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	z-index: 100;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

.top-bar // sombra na top-bar
{
	-moz-box-shadow:    0 2px 8px rgba(0, 0, 0, 0.7);
  	-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
  	box-shadow:         0 2px 8px rgba(0, 0, 0, 0.7);
}

#topo
{
	width: 1000px; 
	margin: 0 auto;
	padding: 0px 15px;

	img
	{
		width: 240px;
	}

	.sombra_img 
	{
	  position: relative; // Para que os elementos sombra sejam relativos a este
	  width: 30%; 
	  background: #fff;
	  padding: 1.5em 1.5em;
	  line-height: 1.5;
	  float: left; 
	}


	.sombra_img:before, .sombra_img:after 
	{
		content: "";        // necessario para iniciar
	  	z-index: -1;        // coloca sombra "por baixo"
	  	position: absolute; // absolute face ao pai
	  	bottom: 15px;
	  	left: 10px;
	  	width: 50%; 
	  	top: 80%;
	  	max-width:300px;
	  	background: rgba(0, 0, 0, 0.7); 

	  	-webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);   // sombra
	  	-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	  	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	}
	.sombra_img:before
	{  	
	  	-webkit-transform: rotate(-3deg); // Rotacao da sombra (lado esquerdo)
	  	-moz-transform: rotate(-3deg);   
	  	-o-transform: rotate(-3deg);
	  	-ms-transform: rotate(-3deg);
	  	transform: rotate(-3deg);
	}

	.sombra_img:after 
	{
	  -webkit-transform: rotate(3deg); // Rotacao da sombra (lado direito)
	  -moz-transform: rotate(3deg);
	  -o-transform: rotate(3deg);
	  -ms-transform: rotate(3deg);
	  transform: rotate(3deg);
	  right: 10px;
	  left: auto;
	}
}

ul.nav_raso
{
	li
	{
		line-height: 5px;

		a:not(.button) // Menu Principal
		{
			color: #2BA6CB;
			line-height: 30px; 
			height: 30px;
			font-family: 'Titillium Web', 'Nobile', sans-serif;
			//font-weight: 700;
			font-size: 22px;
			//font-style: italic;
			padding: 0;
			padding-right: 6px;
			padding-left: 10px;
			margin-right: 5px;
			margin-left: 5px;
		}

		a:hover, a.selected// Menu Principal Hover
		{
			background: none;
			background-color: #FE9937;
			color: white;

			// Cantos arredondados
			-webkit-border-radius: 5px;  
    		-moz-border-radius: 5px;  
    		border-radius: 5px;  
		}
	}
}

ul#helper_menu
{
	li:hover, li:active, li:visited
	{
		// Reset da propriedade da framework (trazia uma cor por defeito)
		background-color: transparent;
	}

	li
	{
		a:hover, a.selected
		{
			color: white;
		}
	}
}

.boxes // thumbnails
{
	float: left;
	overflow: hidden;
	position: relative;
	cursor: default;
	background: #fff url(../images/bgimg.jpg) no-repeat center center;
	text-align: center;

	.mask, .content
	{
		width: 220px;
		height: 220px;
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0
	}

	img 
	{
		display: block;
		position: relative;
	}

	h2 
	{
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		position: relative;
		font-size: 17px;
		padding: 10px;
		background: rgba(0, 0, 0, 0.8);
		margin: 20px 0 0 0;
		font-family: 'Droid Sans', sans-serif;
	}

	p 
	{
		font-family: Georgia, serif;
		font-style: italic;
		font-size: 12px;
		position: relative;
		color: #fff;
		padding: 10px 20px 5px;
		text-align: center
	}
	
	a.info 
	{
		display: inline-block;
		text-decoration: none;
		padding: 7px 14px;
		background: #000;
		color: #fff;
		text-transform: uppercase;
		box-shadow: 0 0 1px #000
	}

	a.info:hover 
	{
		box-shadow: 0 0 5px #000
	}

	h6
	{
		margin-top: 2px;
	}
}

.boxes-third // Efeitos nas thumbnails
{
	img 
	{   
	    transition: all 0.2s ease-in;
	    -ms-transition: all 0.2s ease-in;
		-moz-transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
	}

	.mask 
	{ 
    
	    background-color: rgba(0,0,0,0.6);
	    opacity: 0;
	    
	    transform: translate(460px, -100px) rotate(180deg);
	    -ms-transform: translate(460px, -100px) rotate(180deg);
		-moz-transform: translate(460px, -100px) rotate(180deg);
		-webkit-transform: translate(460px, -100px) rotate(180deg);
		-o-transform: translate(460px, -100px) rotate(180deg);
	    
	    transition: all 0.2s 0.4s ease-in-out;
	    -ms-transition: all 0.2s 0.4s ease-in-out;
		-moz-transition: all 0.2s 0.4s ease-in-out;
		-webkit-transition: all 0.2s 0.4s ease-in-out;
		-o-transition: all 0.2s 0.4s ease-in-out;
	}
	
	h2
	{
	    transform: translateY(-100px);
	    -ms-transform: translateY(-100px);
		-moz-transform: translateY(-100px);
		-webkit-transform: translateY(-100px);
		-o-transform: translateY(-100px);
	    
	    transition: all 0.2s ease-in-out;
	    -ms-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
	}

	p 
	{ 
	    transform: translateX(300px) rotate(90deg);
	    -ms-transform: translateX(300px) rotate(90deg);
		-moz-transform: translateX(300px) rotate(90deg);
		-webkit-transform: translateX(300px) rotate(90deg);
		-o-transform: translateX(300px) rotate(90deg);
	    
	    transition: all 0.2s ease-in-out;
	    -ms-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
	}

	a.info 
	{ 
	    transform: translateY(-200px);
	    -ms-transform: translateY(-200px);
		-moz-transform: translateY(-200px);
		-webkit-transform: translateY(-200px);
		-o-transform: translateY(-200px);
	    
	    transition: all 0.2s ease-in-out;
	    -ms-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
	} 
}

.boxes-third:hover
{ 
	.mask 
	{ 
	    opacity:1; 
	    
	    transition-delay: 0s; 
	    -moz-transition-delay: 0s; /* Firefox 4 */
		-webkit-transition-delay: 0s; /* Safari and Chrome */
		-o-transition-delay: 0s; /* Opera */                           
	    
	    transform: translate(15px, 0px);
	    -ms-transform: translate(15px, 0px);
		-moz-transform: translate(15px, 0px);
		-webkit-transform: translate(15px, 0px);
		-o-transform: translate(15px, 0px);
	}

	h2 
	{ 
	    transform: translateY(0px); 
	    -ms-transform: translateY(0px); 
		-moz-transform: translateY(0px); 
		-webkit-transform: translateY(0px); 
		-o-transform: translateY(0px); 
	    
	    transition-delay: 0.5s; 
	    -moz-transition-delay: 0.5s; /* Firefox 4 */
		-webkit-transition-delay: 0.5s; /* Safari and Chrome */
		-o-transition-delay: 0.5s; /* Opera */
	}
	
	p 
	{ 
	    transform: translateX(0px) rotate(0deg);
	    -ms-transform: translateX(0px) rotate(0deg);
		-moz-transform: translateX(0px) rotate(0deg);
		-webkit-transform: translateX(0px) rotate(0deg);
		-o-transform: translateX(0px) rotate(0deg);
	    
	    transition-delay: 0.4s;
	    -moz-transition-delay: 0.4s; /* Firefox 4 */
		-webkit-transition-delay: 0.4s; /* Safari and Chrome */
		-o-transition-delay: 0.4s; /* Opera */
	}

	a.info 
	{ 
	    transform: translateY(0px);
	    -ms-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-o-transform: translateY(0px);

	    transition-delay: 0.3s;
		-moz-transition-delay: 0.3s; /* Firefox 4 */
		-webkit-transition-delay: 0.3s; /* Safari and Chrome */
		-o-transition-delay: 0.3s; /* Opera */
	}
}



.footer_raso
{
	width: 100%;
	margin-top: 20px;
	background: url('back.png') repeat;
	
	hr
	{
		border: #61add1 solid;
		border-width: 5px 0 0;
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
	}

	.row
	{
		width: 1000px;
		margin: 0 auto;
	}

	a
	{
		color: #61add1;
		line-height: 50px;
	}

	a#facebook
	{
		background: url('social/48x48/facebook_raso.png');
		width: 48px;
		height: 48px;
	}

	a#facebook:hover
	{
		background: url('social/48x48/facebook.png');
	}

	a#twitter
	{
		background: url('social/48x48/twitter_raso.png');
		width: 48px;
		height: 48px;
	}

	a#twitter:hover
	{
		background: url('social/48x48/twitter.png');
	}	

	a#youtube
	{
		background: url('social/48x48/youtube_raso.png');
		width: 48px;
		height: 48px;
	}

	a#youtube:hover
	{
		background: url('social/48x48/youtube.png');
	}
}