<h2>Obrigado Sr(a) <%= @feedback.nome %> pelo Feedback.</h2>

<table>
  <tr>
    <td align="right"><b>Tipo:</b></td><td><%= @feedback.tipo %></td>
  </tr>
  <tr>
    <td align="right"><b>Texto:</b></td><td><%= @feedback.texto %></td>
  </tr>
</table>
<br/>
<br/>
<br/>
--
Raso-LeanHR Team.
