<h2>Sr(a) <%= @feedback.nome %> com o mail <%= @feedback.email %> enviou um comentário.</h2>

<table>
  <tr>
    <td align="right"><b>Texto:</b></td><td><%= @feedback.texto %></td>
  </tr>
</table>
<br/>
<br/>
<br/>
--
Raso-LeanHR Team.
