<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to rasohr.com, <%= @user.name %></h1>
    <p>You have been invited to rasohr.com,      your username is: <%= @user.email %>.<br/>    </p>
    <p>      
      To confirm your email click 
      <%= link_to "here", email_verify_url(@user.company_id, @user.remember_token) %>
      here.</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>

