<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <% if @user.role == ROOT %>
      <h1> Welcome to Raso </h1>
      <br/>
      <p>Thanks for signing up to RasoHR. We'll do everything we can to make sure it's a great experience for you and your company.</p>
      <br/>
      <p> 
        To validate your account please click 
        <%= link_to "here.", email_verify_url(@user.company_id, token: @user.remember_token) %>
      </p>
      <br/>
      <p> Looking forward to hear from you, </p>
      <p> Raso Team </p>
    <% else %>
      <h1>Welcome to rasohr.com, <%= @user.name %></h1>
      <br/>
      <p>You have been invited to rasohr.com. To login after you activate your account, you have to insert your email: <%= @user.email %>.<br/>    </p>
      <p>      
        To confirm your email click 
        <%= link_to "here.", email_verify_url(@user.company_id, token: @user.remember_token) %>
      </p>
      <br/>
      <p> Looking forward to hear from you, </p>
      <p> Raso Team </p>
    <% end %>
  </body>
</html>
