  <div class="row">    
    
    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="nine columns push-three">
      
      <div>
      <h3><a name="idea">This is our idea!</a></h3>
      
      <p>A proposta aqui apresentada baseia-se numa plataforma low-cost, escalável e com alguns fatores que são diferenciadores apresentados de seguida.
      Em termos económicos, os preços, mesmo sendo low-cost, variam de forma inversa ao aumento do número de colaboradores, caracterizando-se assim como um serviço bastante acessível em termos financeiros para o cliente final.</p>

      <p>O preço base por colaborador será 1€ por mês, a partir de um número base de 10 utilizadores, até um limite máximo de colaboradores por definir. Passando esse limite, o preço por colaborador seria determinado com base num calculo dependente do número de colaboradores, reduzindo ainda mais o preço <i>per capita</i>.</p>

      <p>Propõe-se então criar uma plataforma que se diferencia através de características como, a importação e exportação de dados (por exemplo, folhas de excel), que publicite ofertas de trabalho através das várias redes sociais (como o Facebook e LinkedIn), mas também, pretende-se que a aplicação seja simples e intuitiva (para que possa ser acedida por qualquer pessoa, mesmo que essa não tenha formação na área).</p>
      </div>

      <div>
      <hr />
      <h3><a name="pricing">Pricing Plans</a></h3>
     
      <p> Em baixo, são apresentados os tarifários que o utilizador pode escolher.</p>
      <div class="four columns">
      <ul class="pricing-table">
        <li class="title">Arroz</li>
        <li class="price">$99.99</li>
        <li class="description">Content...</li>
        <li class="bullet-item">1 Database</li>
        <li class="bullet-item">5GB Storage</li>
        <li class="bullet-item">20 Users</li>
        <li class="cta-button"><a class="button" href="#">Try it free &raquo;</a></li>
      </ul>
      </div>
            <div class="four columns">
      <ul class="pricing-table">
        <li class="title">Standard</li>
        <li class="price">$99.99</li>
        <li class="description">Content...</li>
        <li class="bullet-item">1 Database</li>
        <li class="bullet-item">5GB Storage</li>
        <li class="bullet-item">20 Users</li>
        <li class="cta-button"><a class="button" href="#">Buy it Now &raquo;</a></li>
      </ul>
      </div>
      <div class="four columns">
      <ul class="pricing-table">
        <li class="title">Standard</li>
        <li class="price">$99.99</li>
        <li class="description">Content...</li>
        <li class="bullet-item">1 Database</li>
        <li class="bullet-item">5GB Storage</li>
        <li class="bullet-item">20 Users</li>
        <li class="cta-button"><a class="button" href="#">Buy it Now &raquo;</a></li>
      </ul>
      </div>
      <div class="four columns">
      <ul class="pricing-table">
        <li class="title">Standard</li>
        <li class="price">$99.99</li>
        <li class="description">Content...</li>
        <li class="bullet-item">1 Database</li>
        <li class="bullet-item">5GB Storage</li>
        <li class="bullet-item">20 Users</li>
        <li class="cta-button"><a class="button" href="#">Buy it Now &raquo;</a></li>
      </ul>
      </div>
      <div class="four columns">
      <ul class="pricing-table">
        <li class="title">Standard</li>
        <li class="price">$99.99</li>
        <li class="description">Content...</li>
        <li class="bullet-item">1 Database</li>
        <li class="bullet-item">5GB Storage</li>
        <li class="bullet-item">20 Users</li>
        <li class="cta-button"><a class="button" href="#">Buy it Now &raquo;</a></li>
      </ul>
      </div>
      <div class="four columns">
      <ul class="pricing-table">
        <li class="title">Standard</li>
        <li class="price">$99.99</li>
        <li class="description">Content...</li>
        <li class="bullet-item">1 Database</li>
        <li class="bullet-item">5GB Storage</li>
        <li class="bullet-item">20 Users</li>
        <li class="cta-button"><a class="button" href="#">Buy it Now &raquo;</a></li>
      </ul>
      </div>
      </div>


    </div>
    
    
    <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="three columns pull-nine">
        
      <ul class="side-nav">
        <li><a href="#idea">Our Idea</a></li>
        <li><a href="#pricing">Pricing Plans</a></li>

      </ul>
      
  
        
    </div>
    
  </div>
    