<div id="background_grey_idea_first">
  <div class="row">
    <div class="eight columns">
      <h1 style="color: #494949"> Simple as a circle!</h1>
      <hr/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at condimentum mi. Duis luctus placerat orci, vel tincidunt mauris faucibus a. Vivamus consectetur nunc sit amet massa mattis fermentum. Pellentesque scelerisque, leo id ultricies lacinia, erat purus mollis turpis, a commodo ipsum erat id diam. Maecenas nec massa mi, aliquam auctor justo. Morbi ut eros eros. Aenean faucibus, est at varius lobortis, massa lectus molestie sem, ac mattis tellus velit ac massa. In laoreet accumsan bibendum. Donec eros massa, malesuada eget elementum vel, congue ut nulla. Vestibulum ut nisi erat.</p>
    </div>
    <div class="four columns">
      <%= link_to image_tag('promo/circle.jpg')%>
    </div>
  </div>
</div>

<div id="background_white_idea" style="margin-top: 2px">
  <div class="row">
    <div class="four columns">
      <%= link_to image_tag('promo/money_white.jpg')%>
    </div>
    <div class="eight columns">
      <h1 style="color: #60add0">Save More! Work Less!</h1>
      <hr/>
      <p>We have the best rates in the market: for a base number of 10 users, each employee will cost 1€/month. For more than XX users the unit price will decrease for XX€/month.
      Sounds good? Check out all the benefits, and choose your plan:</p>
      <div class="four columns">
        <ul class="pricing-table">
          <li class="title">RasoBS (Basic)</li>
          <li class="price">$99.99</li>
          <li class="description">Content...</li>
          <li class="bullet-item">1 Database</li>
          <li class="bullet-item">5GB Storage</li>
          <li class="bullet-item">20 Users</li>
          <li class="cta-button"><a class="button" href="#">Try it free &raquo;</a></li>
        </ul>
      </div>
      <div class="four columns">
        <ul class="pricing-table">
          <li class="title">RasoPL (Plus)</li>
          <li class="price">$99.99</li>
          <li class="description">Content...</li>
          <li class="bullet-item">1 Database</li>
          <li class="bullet-item">5GB Storage</li>
          <li class="bullet-item">20 Users</li>
          <li class="cta-button"><a class="button" href="#">Buy it Now &raquo;</a></li>
        </ul>
      </div>
      <div class="four columns">
        <ul class="pricing-table">
          <li class="title">RasoPR (Premium)</li>
          <li class="price">$99.99</li>
          <li class="description">Content...</li>
          <li class="bullet-item">1 Database</li>
          <li class="bullet-item">5GB Storage</li>
          <li class="bullet-item">20 Users</li>
          <li class="cta-button"><a class="button" href="#">Buy it Now &raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="background_grey_idea" style="margin-top: 2px">
  <div class="row">
    <div class="eight columns">
      <h1 style="color: #494949">Interoperability is our bet!</h1>
      <hr/>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at condimentum mi. Duis luctus placerat orci, vel tincidunt mauris faucibus a. Vivamus consectetur nunc sit amet massa mattis fermentum. Pellentesque scelerisque, leo id ultricies lacinia, erat purus mollis turpis, a commodo ipsum erat id diam. Maecenas nec massa mi, aliquam auctor justo. Morbi ut eros eros. Aenean faucibus, est at varius lobortis, massa lectus molestie sem, ac mattis tellus velit ac massa. In laoreet accumsan bibendum. Donec eros massa, malesuada eget elementum vel, congue ut nulla. Vestibulum ut nisi erat.</p>
    </div>
    <div class="four columns">
      <%= link_to image_tag('promo/link.jpg')%>
    </div>
  </div>
</div>

<div id="background_white_idea" style="margin-top: 2px">
  <div class="row">
    <div class="four columns">
      <%= link_to image_tag('promo/self_white.jpg')%>
    </div>
    <div class="eight columns">
      <h1 style="color: #60add0">Let them do your work!</h1>
      <hr/>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at condimentum mi. Duis luctus placerat orci, vel tincidunt mauris faucibus a. Vivamus consectetur nunc sit amet massa mattis fermentum. Pellentesque scelerisque, leo id ultricies lacinia, erat purus mollis turpis, a commodo ipsum erat id diam. Maecenas nec massa mi, aliquam auctor justo. Morbi ut eros eros. Aenean faucibus, est at varius lobortis, massa lectus molestie sem, ac mattis tellus velit ac massa.In laoreet accumsan bibendum. Donec eros massa, malesuada eget elementum vel, congue ut nulla. Vestibulum ut nisi erat.</p>
    </div>
  </div>
</div>



<div class="row" style="margin-top: 20px">    
  <div class="twelve columns">
    <div class="panel radius">
      <div class="row" >
        <div class="six mobile-two columns">

          <h4 style="color:#60add0">In a simple way...</h4><hr/>
          <h5 class="subheader">RASO provides a low-cost Human Resources management solution for small and medium sized enterprises. There is no need for software installation or hardware purchase – our online solution centralizes your data to be accessible from anywhere.
          </h5>

        </div>
        <div class="six mobile-two columns">

          With a user-friendly and intuitive layout, RASO’s modular solution supplies a wide range of features, saving your time:</p>
          <div class="twelve columns">
          <ul>
            <li>Advertise your job offers through Facebook or LinkedIn.</li>
            <li>Manage your Employees information: Personal data, contract details, personal documents...</li>
            <li>Import/export your data to Excel or CSV files.</li>
            <li>ATraining Management: training scheduling, selection of employees.</li>
            <li>Performance Management: Self-assessments, evaluations.</li>
            <li>Time Management: Marking holidays, absences.</li>
          </ul> 
        </div>
          <p>Moreover RASO supplies an affordable and reliable solution.</p>
        </div>
      </div>
    </div>
  </div>
</div>