<div class="row">
	<div class="twelve columns">

		<!-- Desktop Slider -->

		<div class="hide-for-small">
			<div id="featured">
				<%= image_tag ('slide/1.jpg')%>
				<%= image_tag ('slide/2.jpg')%>
				<%= image_tag ('slide/3.jpg')%>
			</div>
		</div>

		<!-- End Desktop Slider -->


		<!-- Mobile Header -->


		<div class="row">
			<div class="mobile-four show-for-small"><br>
				<img src="http://placehold.it/1000x600&amp;text=For_Small_Screens" alt="Small" />
			</div>
		</div>


		<!-- End Mobile Header -->

	</div>
</div><br>

<div class="row">
	<div class="twelve columns">
		<div class="row">

			<!-- Thumbnails -->
			<div class="three mobile-two columns boxes boxes-third">
				<img src="http://placehold.it/250x250&amp;text=Thumbnail" alt="thumb" />
				<div class="mask">
					<h2>Forget spreadsheets</h2>
					<p>Lorem impsum, ipa doulos. Lorem impsum, ipa doulos. Lorem impsum.</p>
					<a href="#" class="info">Read More</a>
				</div>
				<h6 class="panel">Forget spreadsheets</h6>
			</div>

			<div class="three mobile-two columns boxes boxes-third">
				<img src="http://placehold.it/250x250&amp;text=Thumbnail" alt="thumb" />
				<div class="mask">
					<h2>Forget spreadsheets</h2>
					<p>Lorem impsum, ipa doulos. Lorem impsum, ipa doulos. Lorem impsum.</p>
					<a href="#" class="info">Read More</a>
				</div>
				<h6 class="panel">Forget spreadsheets</h6>
			</div>

			<div class="three mobile-two columns boxes boxes-third">
				<img src="http://placehold.it/250x250&amp;text=Thumbnail" alt="thumb"/>
				<div class="mask">
					<h2>Forget spreadsheets</h2>
					<p>Lorem impsum, ipa doulos. Lorem impsum, ipa doulos. Lorem impsum.</p>
					<a href="#" class="info">Read More</a>
				</div>
				<h6 class="panel">Forget spreadsheets</h6>
			</div>

			<div class="three mobile-two columns boxes boxes-third">
				<img src="http://placehold.it/250x250&amp;text=Thumbnail" alt="thumb"/>
				<div class="mask">
					<h2>Forget spreadsheets</h2>
					<p>Lorem impsum, ipa doulos. Lorem impsum, ipa doulos. Lorem impsum.</p>
					<a href="#" class="info">Read More</a>
				</div>
				<h6 class="panel">Forget spreadsheets</h6>
			</div>
			<!-- End Thumbnails -->
		</div>
	</div>
</div>



<div class="row">
	<div class="twelve columns">
		<div class="row">

			<!-- Content -->

			<div class="eight columns">
				<div class="panel radius">

					<div class="row">
						<div class="six mobile-two columns">

							<h4>Header</h4><hr/>
							<h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
							</h5>

							<div class="show-for-small" style="text-align: center">
								<a href="#" class="small radius button">Call To Action!</a><br>

								<a href="#" class="small radius button">Call To Action!</a>
							</div>

						</div>
						<div class="six mobile-two columns">

							<p>Suspendisse ultrices ornare tempor. Aenean eget ultricies libero. Phasellus non ipsum eros. Vivamus at dignissim massa. Aenean dolor libero, blandit quis interdum et, malesuada nec ligula. Nullam erat erat, eleifend sed pulvinar ac. Suspendisse ultrices ornare tempor. Aenean eget ultricies libero.
							</p>
						</div>

					</div>
				</div>
			</div>

			<div class="four columns hide-for-small">

				<h4>Get In Touch!</h4><hr/>

				<a href="#">
					<div class="panel radius callout" style="text-align: center">
						<strong>Call To Action!</strong>
					</div>
				</a>

				<a href="#">
					<div class="panel radius callout" style="text-align: center">
						<strong>Call To Action!</strong>
					</div>
				</a>

			</div>

			<!-- End Content -->

		</div>
	</div>
</div>

