<table>
	<tbody>
		<tr>
			<th>Companies <%= link_to "A-Z", company_path(@company, params.merge({order: "ASC"})) %> <%= link_to "Z-A", company_path(@company, params.merge({order: "DESC"})) %></th>
		</tr>
		<% @companies.each do |company| %>
			<tr>
				<td><%= link_to company.name, company_path(company) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate @companies %>