<div class="row">
  <div class="twelve columns">
    <div id="signup">
      <h3> Reset Password </h3>
      <hr/>
      <%= form_for :user_email, :url => submit_pass_require_path(@company)  do |f| %>

        <%= f.label :email, :class => " radius label" %>
        <%= f.text_field :email, :class=>"input_space" %>

        <p style="text-align: center"><%= f.submit t(:submit), :class => "button"%></p>
      <% end %>
    </div>
  </div>
</div>