<h1> Show Contract </h1>

<p> Job Title: <%= @contract.job_title %> </p>
<p> Start Date: <%= @contract.start_date %> </p>
<p> End Date: <%= @contract.end_date %> </p>
<p> Value: <%= @contract.value %> </p>