<div class="row">
	<div class="twelve columns">
        <table class="twelve tableJobs">
			<tr>
            	<td><p class="radius label">Name:</td>
  				<td><%= @feedback.nome %></td>
          	</tr>
          	<tr>
			  	<td><p class="radius label">Mail:</td>
			  	<td><%= @feedback.email %></td>
          	</tr>
          	<tr>
			  	<td><p class="radius label">Type:</td>
			  	<td><%= @feedback.tipo %></td>
          	</tr>
          	<tr>
			  	<td><p class="radius label">Description:</td>
			  	<td><%= @feedback.texto %></td>
          	</tr>
        </table>
    </div>
</div>
