<div class="row">
  <div class="twelve columns">
    <div id="signup">
      <div class="panel">
        <h2><%= t(:new_super_user) %></h2>
        <hr/>
        <%= render :partial => 'form' %>
      </div>
    </div>
  </div>
</div>
