<tr>
	<td>
		<span class="radius label"><%= evaluatee.name %></span>
	</td>
</tr>
<tr>
	<td style="border-bottom: 1px solid #e6e6e6">
		<div class="evaluation">
			<table class="twelve">
				<tbody>
					<% evaluation_parameters.each do |evp| %>
						<tr>
							<%= render 'evaluate_parameter' , :evaluate_parameter => evp  %>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</td>
</tr>
