/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */
 
 
@font-face {
	font-family: 'Nobile';
	src: font-url('nobile.ttf');
	src: font-url('nobile.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*@font-face
  font-family: 'Nobile'
  src: font-url('nobile.ttf')
  src: local('Nobile'), font-url('nobile.ttf') format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Socialico'
  src: font-url('socialico.ttf')
  src: local('Socialico'), font-url('socialico.ttf') format("truetype")
  font-weight: normal
  font-style: normal

@font-face {
	font-family: 'Nobile';
	src: url('nobile.ttf');
	src: url('Dearest-webfont.eot?#iefix') format('embedded-opentype'),
	     url('Dearest-webfont.woff') format('woff'),
	     url('nobile.ttf.ttf') format('truetype'),
	     url('Dearest-webfont.svg#DearestRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}*/


@font-face {
	font-family: 'Nobile';
	src: font-url('nobile.ttf');
	src: font-url('nobile.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

#signup{
	width: 50%;
	margin: 0 auto;
}

#verify{
	width: 30%;
	margin: 0 auto;
}

